{% extends 'base.html' %}

{% block title %}Enter New Password{% endblock title %}

{% block content %}

<div class="container">
    <div class="nav-bar">
         <h1>Set a New Password</h1>
    </div>

    <form class="form-control" method="post">
            {% csrf_token %}

            <div class="form-group">
                <label>{{ form.new_password1.label }}</label>
                {{ form.new_password1 }}
            </div>

            <div class="form-group">
                <label>{{ form.new_password2.label }}</label>
                {{ form.new_password2 }}
            </div>

         <input id="submit-btn" type="submit" value="Change my password">
    </form>
</div>

{% endblock content %}