{% extends 'base.html' %}

{% block title %}Forgot your Password ?{% endblock title %}

{% block content %}

<div class="container">

    <div class="nav-bar">
        <a id="password-change-back" href="{% url 'tasks' %}">&#8592; Back</a>
         <h1>Forgot your password ?</h1>
    </div>

    <p id="password-message">Enter your email address below, and we will email instructions for setting a new one.</p>

    <form class="form-control" method="post">
            {% csrf_token %}
             <div class="form-group">
                <label>{{ form.email.label }}</label>
                {{ form.email }}
            </div>

         <input id="submit-btn" type="submit" value="Send me instructions">
    </form>
</div>

{% endblock content %}