{% extends 'base.html' %}

{% block title %}Password Change{% endblock title %}

{% block content %}

<div class="container">
     <div class="nav-bar">
         <a id="password-change-back" href="{% url 'tasks' %}">&#8592; Back</a>
         <h1>Password Change</h1>
     </div>

    <p id="password-message">Please enter your old password, for security's sake, and then enter your new password twice so we
        can verify
        you typed it in correctly.</p>

    <form class="form-control" method="post">
            {% csrf_token %}
             <div class="form-group">
                <label>{{ form.old_password.label }}</label>
                {{ form.old_password }}
            </div>

            <div class="form-group">
                <label>{{ form.new_password1.label }}</label>
                {{ form.new_password1 }}
            </div>

            <div class="form-group">
                <label>{{ form.new_password2.label }}</label>
                {{ form.new_password2 }}
            </div>

         <input id="submit-btn" type="submit" value="Change Password">
    </form>
</div>

{% endblock content %}